{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <ul class="flash">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endwith %}

<div class="jumbotron row">
    <div align='center' class="col-sm-3">
        <img align='center' src="{{ movie.picture }}" class="img-thumbnail" width="150" height="150">
    </div>
    <div class="col-sm-9">
        <h4>Title: {{ movie.title }}</h4>
        <h5>Genre: {{movie.genre}}</h5>
        <h5>Author: {{movie.author.name}}</h5>
        <h5>Added by: {{movie.creator.username}}</h5>
        <h5>Added on: {{ movie.added_on.strftime('%B %d, %Y') }}</h5>
        <p>{{movie.description}}</p>

            <div>
                <!-- ONLY THE CREATOR MAY EDIT AND DELETE A MOVIE -->
                {% if movie.creator == current_user %}
                <a class="btn btn-dark" href="{{ url_for('movies.edit_movie', actor_id=actor.id, movie_id=movie.id) }}">Edit</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
                {% endif %}
                <!-- ANY AUTHENTICATED USER MAY WATCH THE MOVIE TRAILER AND WRITE A POST -->
                {% if current_user.is_authenticated %}
                <a class="btn btn-primary" href="#">Watch the trailer</a>
                <a class="btn btn-primary" href="#">Write a post</a>
                {% endif %}
            </div>

    </div>
</div>

  <!-- POP UP MODAL TO DELETE A MOVIE-->
  {# https://getbootstrap.com/docs/4.1/components/modal/ #}
  {# Notice how the link with the id to the button above! #}
  <div class="modal" tabindex="-1" role="dialog" id="del_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Movie Pop up Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this movie?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

          <form action="{{ url_for('movies.delete_movie', actor_id=actor.id, movie_id=movie.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- DISPLAYING ALL POSTS FOR THE CHOSEN MOVIE -->

{% endblock content %}
